{%load static%}
<!-- Footer start -->
<footer class="footer">

    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <p class="copy">© {% now 'Y' %} <a href="#">TechTrek | Group. </a>All Rights Reserved.</p>
                </div>
                <div class="col-lg-4">
                    <div class="social-list-2">
                        <ul>
                            <li><a href="https://wa.me/+79635101583" class="whatsapp-bg"><i class="fa fa-whatsapp"></i></a></li>
                            <li><a href="https://www.instagram.com/stroysya_brn/" class="instagram-bg"><i class="fa fa-instagram"></i></a></li>
<!--                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>-->
<!--                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->